{% extends 'templates/template.html.twig' %}

{% block title %}
Crear país
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    
    <div class="container">
       
                         
        {% for msg in app.flashes('success') %}
            <div class="alerta-success">
                {{ msg }}
            </div>
        {% endfor %}
                        
        
        <section class="content-box">

            <nav class="menu-page">
                <ul>
                        
                    <li>
                        <a href="{{ path('paises') }}" >Lista de paises activos</a>
                    </li>
                
                    <li>|</li>

                    <li>
                        <a href="{{ path('adminListPaises') }}" >Lista de paises completa</a>
                    </li>
                    
                </ul>

            </nav>

            <div>
                <h2 class="paises-title">Crear país nuevo</h2>
            </div>
            
            <div>

                <form class="form-style1" action="{{ path('crearPaises') }}" method="POST">

                    <div class="form-group">
                        <label for="pais">Nombre:</label>
                        <input class="form-control" type="text" name="pais" id="pais" value="" placeholder="">
                    </div>
                    
                    <div class="form-group">
                        <label for="abrev">Abreviación:</label>
                        <input class="form-control" type="text" name="abrev" id="abrev" value="" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="activo">Estado:</label>
                        <select class="form-control" name="activo" id="activo">
                            <option value="1" selected>Activo</option>
                            <option value="0" >No activo</option>
                        </select>
                    </div>

                    <div class="form-btn-center">
                        <button type="submit" class="btn-style1">Guardar</button>
                    </div>

                </form>            
                 
               
            </div>
        </section>
       
    </div>

{% endblock %}


